{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <ul>
        {% for listing in listings %}
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ listing.image_url }}" class="card-img" alt="No image available">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">{{ listing.name }}</h5>
                    <p class="card-text">{{ listing.description }}</p>
                    <p class="card-text"><small class="text-muted">Highest bid: {{ listing.current_price }} $</small></p>
                    <a href="{% url 'listing' listing.id %}" class="btn btn-primary">More</a>
                    </div>
                </div>
                </div>
            </div>
        {% empty %}
            No active listings
        {% endfor %}
    </ul>


{% endblock %}